body, html {
    height: 100%;
    background-color: rgb(222 182 126);
}


.bg-image {
    /* The image used */
    background-image: url("../img/pexels-abdullah-ghatasheh-1631678.jpg");
  
    /* Add the blur effect */
    filter: blur(5px);
    -webkit-filter: blur(5px);
    transform: scale(1.03);
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.logo-image {
    /*background-image: url("../img/pside.png");*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: min(80%, 500px);
    padding: 20px;
    text-align: center;
}
