body, html {
    height: 100vh;
    background-color: rgb(222 182 126);
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
    font-size: 4em;

}

h2 {
    font-size: 2em;
}

button, a {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    border: none;
    border-radius: 10px;
    font-size: 2em;
    padding: 10 15;
    background-color: bisque;
}

.social-button{
    background-color:transparent;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(128, 107, 39);
}

.bg-image {
    overflow: hidden;
    /* The image used */
    background-image: url("../img/pexels-abdullah-ghatasheh-1631678.jpg");
  
    /* Add the blur effect */
    filter: blur(5px);
    -webkit-filter: blur(5px);
    transform: scale(1.03);
    position: relative;
    /* Full height */
    height: 120vh;
  
    /* Center and scale the image nicely */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }

.container{
    overflow: auto;
    padding: none;
    margin:none;
    top: 0;
    flex:1;
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-image {
    width: min(80%, 500px);
    padding-top: 100px;
    text-align: center;
}

.release {
    margin-top: 300px;
    width: min(80%, 500px);
    padding: 20px;
    text-align: center;
    margin-bottom: 100px;
    background-color: #ffd0b266;
    width: 100%;
    padding-bottom: 100px;
}

.release-image {
    width: min(80%, 500px);
}

.arrow-down{
    font-size: 4em;
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}