body, html {
    height: 100vh;
    background-color: rgb(222 182 126);
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
    font-size: 4em;

}

h2 {
    font-size: 2em;
    color: #00000098;
    margin: 10 0;
}

h3 {
    font-size: 1.6em;
    color: #00000094;
    margin-bottom: 10px;
}
button, a {
    font-family: 'Open Sans Condensed', sans-serif;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    border: none;
    border-radius: 10px;
    font-size: 2em;
    padding: 10 15;
    background-color: #ffc786;
    cursor: pointer;
}

.social-button{
    background-color: #00000054;
    border-width: 1px;
    color: #eaa468;
    cursor: pointer;
    margin: 0 4;
    font-size: 3.5em;
    width: 95px;
    height: 95px;
    display: flex;  
    justify-content: center;  
    align-items: center; 
    transition: 0.3s;
}
.social-button:hover{
    background-color: #000000a9;
}

.bg-image {
    overflow: hidden;
    /* The image used */
    background-image: url("../img/pexels-abdullah-ghatasheh-1631678.jpg");
  
    /* Add the blur effect */
    filter: blur(5px);
    -webkit-filter: blur(5px);
    transform: scale(1.03);
    position: relative;
    /* Full height */
    height: 120vh;
  
    /* Center and scale the image nicely */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }

.container{
    overflow: auto;
    padding: none;
    margin:none;
    top: 0;
    flex:1;
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-image {
    width: min(80%, 500px);
    padding-top: 100px;
    text-align: center;
}

.release {
    margin-top: 300px;
    width: min(80%, 500px);
    text-align: center;
    margin-bottom: 100px;
    background-color: #ffd0b266;
    width: 100%;
    padding-bottom: 100px;
}

.release-image {
    width: min(80%, 500px);
}

.release-button {
    font-weight: bold;
    font-size: 3em;
    background-color: #ffc786;
    transition: 0.3s;
}
.release-button:hover{ 
    transform: scale(1.1);
}

.button-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer{
    width: 100%;
    background-color: #ffc786;
    display: flex;
    flex-direction: row-reverse;
    padding: 10 0;
    margin-top: 100px;
    font-size: xx-large;
}

.arrow-down{
    font-size: 4em;
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}