body, html {
    height: 100vh;
    background-color: rgb(222 182 126);
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 25px;
}

section#home {
    padding-top: 100px;
    margin-bottom: 250px;
}

section#socials {
    margin-bottom: 125px;
}

h1 {
    font-size: 4em;
    margin: 10 0;
}

h2 {
    font-size: 2em;
    color: #00000098;
    margin: 10 0;
}

h3 {
    font-size: 1.6em;
    color: #00000094;
    margin-bottom: 10px;
}

p {
    font-size: 1.4em;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;

}

.top-menu {
    z-index: 10;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #ffd0b2ff;
    padding: 5px 0px;
    box-sizing: border-box;
    position: fixed;
    justify-content: center;
    top: 0;
}

.top-menu-container {
    width: 95%;
}

.top-menu-button {
    height: 100%;
    font-size: 1.5em;
    padding: 0 10;
    transform: scale(1);
    transition: transform 0.3s;
    overflow: visible;
}

.top-menu-button:hover{ 
    transform: scale(1.1);
}

button {
    font-family: 'Open Sans Condensed', sans-serif;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    border: none;
    border-radius: 10px;
    font-size: 2em;
    padding: 10 15;
    background-color: #ffc786;
    cursor: pointer;
}

.social-button{
    background-color: #00000054;
    border-width: 1px;
    color: #eaa468;
    cursor: pointer;
    margin: 4 4;
    font-size: 3.5em;
    width: 95px;
    height: 95px;
    display: flex;  
    justify-content: center;  
    align-items: center; 
    transition: 0.3s;
}
.social-button:hover{
    background-color: #000000a9;
}

.bg-image {
    overflow: hidden;
    /* The image used */
    background-image: url("../img/pexels-abdullah-ghatasheh-1631678.jpg");
  
    /* Add the blur effect */
    filter: blur(5px);
    -webkit-filter: blur(5px);
    transform: scale(1.03);
    position: relative;
    /* Full height */
    height: 120vh;
  
    /* Center and scale the image nicely */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;

  }

.container{
    overflow: auto;
    top: 43px; 
    flex:1;
    width: 100%;
    height: calc(100vh - 43px);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.logo-image {
    width: min(80%, 500px);
    text-align: center;
}

.release {
    width: min(80%, 500px);
    text-align: center;
    background-color: #ffd0b266;
    width: 100%;
    padding-bottom: 100px;
}

.release-image {
    width: min(80%, 500px);
}

.release-button {
    align-items: center;
    display: flex;
    font-weight: bold;
    font-size: 3em;
    background-color: #ffc786;
    transform: scale(1);
    transition: transform 0.3s;
}

.release-button > i {
    font-size: 0.7em;
    margin-right: 10px;
}
.release-button:hover{ 
    transform: scale(1.1);
}

.button-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-flow: wrap;
    justify-content: center;
    margin: 0px 50px;
    margin-bottom: 30px;
}

.about {
    width: min(100%, 800px);
}

.about-image {
    width: 100%;
    height: 800px;
    background-image: 
    linear-gradient(#e8a35e00 60%, #e8a45e),
    url('../img/about-background.jpg');
    background-size: cover;
    background-position: center;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.about-text {
    width: 100%;
    background-color: #e8a45e;
    margin-top: 0px;
    padding: 10px 20px;
    padding-bottom: 40px;
    box-sizing: border-box;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.footer{
    width: 100%;
    background-color: #ffc786;
    display: flex;
    flex-direction: row-reverse;
    padding: 10 30;
    margin-top: 100px;
    font-size: x-large;
    box-sizing: border-box;
}

.arrow-down{
    font-size: 4em;
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}